*.iml
.idea/libraries
.gradle
build
gradle
captures
local.properties
google-services.json
options*.json
google_maps_api.xml
*.apk
Helpers.iml
keystore_release.jks
test-reports
test-results
/app/sensitive.gradle
/app/src/debug/
/app/src/release/
/app/release/
/.idea/workspace.xml
/Waytous.zip
