*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/app/src/release/
/app/build/
/app/app-release.apk
/app/google-services.json
/projectFilesBackup/
/inchem.jks
/wtu.log
/servercert.pem
/servercert.p12
/servercert.der
/temp.jks
/cacerts
/options_developer.json
/options_inchem.json
app/src/test/
/debug.jks
/deploy.sh
/deploy_debug.sh
/where-am-i-now-1373-firebase-adminsdk-4dqzv-07038c93b9.json
/app/src/debug/
/WayToUsServer/build/
/WayToUsServer/WayToUsServer.iml
/waytous.log
/WaytousServer/options_developer_pn.json
/WaytousServer/where-am-i-now-1373-firebase-adminsdk-4dqzv-0ce407c05d.json
/gradle/
/WaytousServer/waytous.log
