*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/app/src/release/
libs/
/WhereAmINowServer/build/
/app/build/
/app/app-release.apk
/app/google-services.json
/WhereAmINowServer/src/main/java/ru/wtg/whereaminowserver/helpers/SensitiveData.java
/captures/
/projectFilesBackup/
