/**
 * Created 1/19/17.
 */

/* TAGS */
body {
    font-family: sans-serif;
    font-size: 12px;
    margin: 0px;
}
iframe {
    width: 100%;
    height: 100%;
    margin: 0px;
}
h2 {
    font-size: 14px;
}
td {
    vertical-align:top;
}
table.summary, table.create, table.user {
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-spacing:0px;
    border-collapse: collapse;
    font-family: sans-serif;
    font-size:12px;
}
table.create {
    width: auto;
    border: none;
}
table.create th {
    width: 250px;
    height: 30px;
    white-space: nowrap;
    text-align: left;
    background: #ffffdd;
    padding: 2px;
    border: 1px solid black;
}
table.create td {
    vertical-align: middle;
}
table.create input {
    width: 250px;
}
table.summary th {
    text-align: center;
    background: #ffffdd;
    padding: 2px;
    border: 1px solid black;
}
table.summary td {
    padding: 2px;
    border: 1px solid black;
    vertical-align:top;
}
table.user th {
    width: 250px;
    white-space: nowrap;
    text-align: left;
    background: #ffffdd;
    padding: 2px;
    border: 1px solid black;
}


/* CLASSES */
.layout {
    width: 100%;
    height: 100%;
    display: flex;
}
.title {
    font-size: 18px;
    width: 30%;
    border-bottom: 1px solid #000;
    padding: 5px;
    font-weight: bold;
    margin-bottom: 20px;
}
.alert {
    background-color: rgba(244, 67, 54, 0.7);
    color: white;
    padding: 5px;
    margin: 5px;
    font-size: 16px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    display: none;
}
.logo {
    background-color: #438d71;
    display: block;
    height: 150px;
    background-image: url(/images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.menu-button {
    display: none;
}
.menu {
    border-right-style: solid;
    float: left;
    width: 200px;
    min-width:200px;
    border-width: 1px;
    height: 100%;
}
.menu-open {
    display: block;
}
.menu:focus {
    outline: none;
}
.menu-item:hover {
    background: #dddd99;
}
.menu-item i {
    margin: 10px;
    float: left;
    font-size: 14px;
}
.menu-item div {
    font-weight: bold;
    text-decoration: none;
    color: black;
    margin-left: 24px;
    cursor: pointer;
    display: block;
    padding: 10px;
}
.menu-bottom {
    position: fixed;
    bottom: 10px;
    width: 200px;
    text-align: center;
    font-size: 10px;
}
.right {
    width: 100%;
}
.version {
    position: fixed;
    font-size: 10px;
}
.content {
    padding:5px;
}
.two_tables {
    display:flex;
    justify-content:space-between;
}
.two_tables_one {
    width:48%
}

@media screen and (max-width: 1000px) {
    * {
         user-select: none;
        -khtml-user-select: none;
        -o-user-select: none;
        -moz-user-select: -moz-none;
        -webkit-user-select: none;
    }
    ::selection { background: transparent;color:inherit; }
    ::-moz-selection { background: transparent;color:inherit; }
    body {
        font-family: sans-serif;
        font-size: 16px;
        margin: 0px;
        zoom: 1;
        color: darkslategray;
    }
    right {
        width: 100%;
        height: 100%;
        margin: 0px;
    }
    h2 {
        padding: 5px;
        font-size: 18px;
        width: 100%;
        //border-bottom: 1px solid #000;
    }
    td {
        vertical-align:top;
    }
    table.summary, table.create, table.user {
        width: 100%;
        border: none;
        border-spacing:0px;
        border-collapse: collapse;
        font-family: sans-serif;
    }
    table.create {
        width: 100%;
        border: none;
        font-size: 16px;
    }
    table.create th {
        width: 50%;
        height: 30px;
        white-space: nowrap;
        text-align: left;
        background: white;
        padding-top: 15px;
        padding-bottom: 15px;
        border: none;
        font-weight: normal;
    }
    table.create td {
        width: 50%;
        vertical-align: middle;
    }
    table.create input {
        width: 100%;
        border-style: solid;
        border-width: 1px;
        font-size:16px;
        height: 25px;
    }
    table.summary th {
        text-align: center;
        background: #ffffdd;
        padding: 2px;
        border: 1px solid black;
        font-size: 12px;
    }
    table.summary td {
        padding: 2px;
        border: 1px solid black;
        vertical-align:top;
    }
    table.user th {
        width: 250px;
        white-space: nowrap;
        text-align: left;
        background: #ffffdd;
        padding: 2px;
        border: 1px solid black;
        font-size: 12px;
    }
    button {
        font-size: 16px;
        min-width: 100px;
        border-style: solid;
        border-radius: 10px;
        margin: 1px;
        padding: 10px;
    }

    // CLASSES
    .layout {
        width: 100%;
        height: 100%;
        display: flex;
    }
    .title {
        border: none;
        padding:5px;
        font-size: 18px;
        background-color: darkcyan;
        color: white;
        font-weight: bold;
        padding-top:15px;
        padding-bottom:15px;
        padding-left: 26px;
        width: auto;
        margin: 0px;
    }
    .alert {
        margin: 0px;
    }
    .menu-button {
        font-family: "Material Icons";
        position: absolute;
        left: 16px;
        font-size: 22px;
        display: block;
    }
    .menu-button-open {
        display: none;
    }
    .menu {
        float: left;
        width: 70%;
        min-width:300px;
        position: fixed;
        background-color: white;
        display:none;
    }
    .menu-open {
        display: block;
        outline: none;
        box-shadow: 20px 0px 60px 10px rgba(0,0,0,0.75);
    }
    .menu:focus {
        display: block;
    }
    .menu-item {
        text-decoration: none;
        font-weight: bold;
    }
    .menu-item:hover {
        background: #dddd99;
    }
    .menu-item i {
        margin: 15px;
        float: left;
        font-size: 18px;
    }
    .menu-item div {
        text-decoration: none;
        margin-left: 24px;
        cursor: pointer;
        display: block;
        padding: 15px;
        color: darkslategray;
    }
    .menu-bottom {
        position: fixed;
        bottom: 10px;
        width: 80%;
        min-width:320px;
        text-align: center;
        font-size: 10px;
    }
    .version {
        position: fixed;
        font-size: 10px;
    }
    .content {
        padding:0px;
    }
    .two_tables_one {
        width:100%
    }
    .two_tables {
        display:inline;
        justify-content:space-between
    }
    .buttons {
        text-align: center;
    }


    /*#tokens tr td:nth-child(3),
    #tokens tr th:nth-child(3) {
        display: none;
    }
    #tokens tr td:nth-child(8) {
        display: none;
    }
    #tokens tr td:nth-child(10) {
        display: none;
    }*/
}
