/**
 * Created 1/19/17.
 */
* {
    user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
}
::selection { background: transparent;color:inherit; }
::-moz-selection { background: transparent;color:inherit; }

/* TAGS */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    font-size: 14px;
    color: darkslategray;
    margin: 0px;
}
h2 {
    font-size: 14px;
}
input, textarea {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

/* CLASSES */
.layout {
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
    font-size: 18px;
    font-weight: bold;
}
.alert {
    background-color: rgba(244, 67, 54, 0.7);
    color: white;
    padding: 5px;
    margin: 5px;
    font-size: 16px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    display: none;
}
.alert-dialog {
    background-color: beige !important;
    color: red;
    padding: 30px;
    text-align: center;
    width: 500px;
    max-width: 80%;
    z-index: 6000;
}
.alert-icon {
    position: fixed;
    top: 50px;
    z-index: 10000;
    background-color: transparent;
    color: white;
    font-size: 40px !important;
    border: none;
    transform: translateX(10px);
    outline: none;
    color: red;
}
.drawer {
    border-right-style: solid;
    width: 250px;
    min-width: 250px;
    border-width: 1px;
    background-color: azure;
    left: 0px;
    position: relative;
    height: 100%;
    top: 0px;
    bottom: 0px;
    z-index: 10000;
}
.drawer-open {
    display: block;
}
.drawer:focus {
    outline: none;
}
.drawer-header {
    background: linear-gradient(135deg, #2e5d7d 0%,#4c93af 54%,#819bc7 100%);
    display: flex;
    height: 150px;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 10px;
    padding-right: 10px;
    position: sticky;
}
.drawer-header-name {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: x-large;
    font-weight: bold;
}
.drawer-header-title {
    color: white;
    font-weight: bold;
    font-size: larger;
}
.drawer-header-subtitle {
    color: white;
    padding-bottom: 10px;
    white-space: pre;
}
.menu {
    position: absolute;
    top: 150px;
    bottom: 50px;
    overflow: auto;
    width: 100%;
}
.menu-item:hover {
    background: #dddd99;
}
.menu-item i, .menu-item svg {
    margin: 12px;
    float: left;
    font-size: 16px;
    width: 16px;
    height: 16px;
    stroke: darkslategray;
}
.menu-item div {
    font-weight: bold;
    text-decoration: none;
    margin-left: 24px;
    cursor: pointer;
    display: block;
    padding: 12px;
}
.menu-item-social {
    display: flex;
}
.menu-item-facebook {

}
.menu-item-twitter {

}
.drawer-footer {
    position: fixed;
    bottom: 10px;
    width: 250px;
    text-align: center;
    font-size: 10px;
}
.right {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.version {
    position: fixed;
    font-size: 10px;
}
.content {
    padding:5px;
}
.shadow {
    box-shadow: 3px 3px 7px 2px rgba(0,0,0,.5);
}
.inactive {
    color: darkgray;
}
.changeable {
    transition: 0.7s ease-in-out all;
}
.changed {
    color: chocolate;
}
.clickable {
    cursor: pointer;
}
.clickable:hover {
    background-color: lightcyan;
}
.selected {
    border-color: #00ff00;
    border-width: 2px;
    border-style: ridge;
    padding: 3px !important;
}
.hidden {
    display: none !important;
}
.disabled {
    color: darkgray;
}
.table {
    display: table;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-spacing:0px;
    border-collapse: collapse;
    font-family: sans-serif;
    font-size:12px;
}
.thead {
    display: table-header-group;
}
.tbody {
    display: table-row-group;
}
.th {
    display: table-cell;
    text-align: center;
    background: #ffffdd;
    padding: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid black;
    font-weight: bold;
}
.tr {
    display: table-row;
}
.td {
    display: table-cell;
    padding: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid black;
    vertical-align:top;
}
.table.option {
    border: none;
}
.th.option {
    text-align: left;
    width: 250px;
}
.td.option {
    text-align: left;
    border: none;
}
.td.option input {
    width: 250px;
}
.question {
    font-weight: bold;
    color: red;
}
.fab {
    background-color: rgba(255, 0, 0, 0.5);
    position: fixed;
    right: 16px;
    bottom: 24px;
    border-radius: 40px;
    padding: 20px;
    color: white;
    cursor: pointer;
}
.divider {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: darkgray;
}
.actionbar {
    display: none;
}

#map {
  height: 100%;
  position: relative;
  width: 100%;
}

.maps-frame {
  height: 100%;
  width: 100%;
}

.kd-tabbed-vert.header-links .kd-tabbutton a {
  color: #757575;
  display: inline-block;
  height: 100%;
  padding: 0 24px;
  width: 100%;
}

.kd-tabbed-vert.header-links .kd-tabbutton {
  padding: 0;
}

.kd-tabbed-vert.header-links .kd-tabbutton.selected a {
  color: #03a9f4;
}

.kd-tabbed-vert.header-links .kd-tabbutton a:focus {
  text-decoration: none;
}

p.top-desc {
  padding: 1em 1em .1em 1em;
}

p.bottom-desc {
  padding: 0em 1em 1em 1em;
}
.user-buttons {
    max-height: 90%;
    border: none !important;
    top: 12px;
    right: 52px;
}
.user-buttons-title {
}
.user-buttons-title-button {
}
.user-buttons-items {
    position: initial;
    border-radius: 5px;
    background-color: transparent;
    overflow-y: auto;
    display: block !important;
    padding: 0px !important;
}
.user-button {
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}
.user-button:hover {
    /*background-color: #dddd99;*/
    border-color: green;
    border-style: solid;
    border-width: 2px;
    padding: 3px;
}
.user-button-hover {
    /*background-color: #dddd99;*/
    border-color: green;
    border-style: solid;
    border-width: 2px;
    padding: 3px;
}
.user-button-badge {
    background-color: red;
    color: white;
    font-size: 10px;
    border-radius: 7px;
    width: 12px;
    height: 12px;
    text-align: center;
    border-width: 1px;
    border-color: white;
    border-style: solid;
    position: relative;
    right: 8px;
    top: -8px;
}
.user-button-icon {
}
.user-button-label {
    padding-left: 10px;
    padding-right: 10px;
}
.user-button-title {
}
.user-button-subtitle {
    font-size: 9px;
    max-width: 150px;
    /*overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;*/
}
.user-context-menu {
    position: fixed;
    top: 10px;
    background-color: rgba(211, 211, 211, 0.7);
    border-radius: 5px;
    outline: none;
    z-index: 5000;
}
.user-context-menu-item {
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}
.user-context-menu-item i, .user-context-menu-item svg {
    padding: 5px;
    font-size: 16px;
    width: 16px;
    height: 16px;
    stroke: darkslategray;
}
.user-context-menu-item:hover {
    background-color: rgba(180, 180, 180, 0.8);
}
.user-context-menu-item-title {
    padding-left: 10px;
    padding-right: 10px;
}
.modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    opacity: 0.9;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    z-index: 1000;
    outline: none;
    /*top: 45%;
    left: 20%;*/
}
.progress {
    width: 20%;
    height: 20%;
    align-items: center;
    justify-content: center;
}
.progress-circle {
    margin: 20px;
    height: 28px;
    width: 28px;
    animation: rotate 0.8s infinite linear;
    border: 8px solid #888888;
    border-right-color: transparent;
    border-radius: 50%;
}
@keyframes rotate {
    0%    { transform: rotate(0deg); }
    100%  { transform: rotate(360deg); }
}
.progress-title {
    white-space: nowrap;
}
.alpha {
    position: fixed;
    top: -10px;
    left: 260px;
    z-index: 9999;
    color: red;
    font-size: 50px;
    font-weight: bold;
    font-family: Times;
}
.loading {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.console {
    position: fixed;
    bottom: 0;
    font-size: 10px;
    height: 30%;
    width: 100%;
    white-space: pre;
    overflow-y: scroll;
    background-color: rgba(211, 211, 211, 0.6);
    border-top-style: solid;
    border-top-width: 1px;
    z-index: 1000;
    white-space: pre-wrap;
}
.dialog-title {
    width: 100%;
    text-align: center;
    background-color: beige;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    position: relative;
}
.dialog-title-label {
}
.dialog-items {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.dialog-item {
    display: flex;
    align-items: center;
}
.dialog-item-label {
    padding-right: 5px;
}
.dialog-item-input {
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}
.dialog-buttons {
    align-self: center;
    padding: 5px;
}
.dialog-title-button {
    position: absolute;
    top: 0px;
    right: 0px;
    background: none;
    border: none;
    font-size: 20px !important;
    cursor: pointer;
    outline: none;
}
.dialog-title-button:hover {
    color: red;
}
.dialog-button-positive {

}
.dialog-button-negative {

}
.dialog-progress-bar {
    height: 5px;
    width: 90%;
    background-color: aliceblue;
    margin-bottom: 5px;
    align-self: center;
}
.dialog-progress-value {
    background-color: burlywood;
    height: 100%;
}
.chat {
    width: 500px;
    max-width: 60%;
    font-size: 10px;
    top: auto;
    bottom: 10px;
    left: 260px;
    opacity: 0.4;
    outline: none;
}
.chat:hover {
    opacity: 1.0;
}
.chat:focus {
    opacity: 1.0;
}
.chat:active {
    opacity: 1.0;
}
.chat-messages {
    max-height: 200px;
    width: 100%;
    overflow-y: scroll;
    flex-direction: column;
}
.chat-message {
    width: 100%;
}
.chat-message-private {

}
.chat-message-from {
    font-weight: bold;
}
.chat-message-timestamp {
    float: right;
    padding-right: 4px;
}
.chat-message-body {
    padding-bottom: 8px;
    white-space: pre;
}
.chat-reply {
    padding-top: 8px;
    align-items: stretch;
    width: 100%;
}
.chat-reply-input {
    width: 100%;
}
.chat-reply-button {
    width: 40px;
    float: right;
    background: none;
    border: none;
    outline: none;
}
.chat-reply-button:hover {
    color: blue;
}
.chat-reply-button:active {
    color: cyan;
}
.streetview {
    width: 500px;
    max-width: 60%;
    top: auto;
    top: 10px;
    left: 260px;
    outline: none;
}
.streetview-placeholder {
    height: 300px;
}
.streetview-view {
    width: 100%;
    height: 300px;
    padding: 5px;
    margin: -5px;
}
.distance-label {
    font-size: 12px;
    position: relative;
    left: -50%;
    top: -10px;
    white-space: pre;
    background-color: rgba(100, 100, 100, 0.7);
    border: none;
    outline: none;
    color: white;
    padding: 5px;
    text-align: center;
    z-index: 1000;
    font-weight: bold;
    text-shadow: #000 0px 0px 5px;
}
.navigation-label {
    opacity: 0.7;
    font-size: 12px;
    position: relative;
    transform: translate(-50%,-50%);
    white-space: pre;
    border: none;
    outline: none;
    color: white;
    padding: 5px;
    text-align: center;
    z-index: 1000;
    font-weight: bold;
    text-shadow: #000 0px 0px 5px;
}
.marker-hover {
    background-color: red !important;
}

/* shift zoom control */
/*.gmnoprint:nth-child(9) {
    top: 50px !important;
}
.gmnoprint:nth-child(10) {
    top: 110px !important;
}*/

@media screen and (max-width: 1000px) {
    /*html, body {
        overflow-x: hidden;
        overflow-y: auto;
    }*/
    body {
        font-family: sans-serif;
        font-size: 14px;
        margin: 0px;
        zoom: 1;
        color: darkslategray;
    }
    h2 {
        padding: 5px;
        font-size: 18px;
        width: 100%;
        /*border-bottom: 1px solid #000;*/
    }
    button {
        font-size: 16px;
        min-width: 80px;
        border-style: solid;
        border-radius: 10px;
        border-width: 1px;
        border-color: gray;
        margin: 1px;
        padding: 10px;
        background-color: ivory;
    }

    /* CLASSES */
    .layout {
        width: 100%;
        height: 100%;
        min-height: 100%;
        align-items: center;
    }
    .right {
        flex-direction: column;
    }
    .title {
        position: absolute;
        padding-top:15px;
        padding-left: 52px;
    }
    .alert {
        margin: 0px;
    }
    .alert-icon {
        position: fixed;
        right: 32px;
        top: -4px !important;
        color: red;
        cursor: pointer;
    }
    .modal {
        width: 60%;
        left: 50% !important;
        top: 50% !important;
        transform: translate(-50%,-50%);
    }
    .actionbar {
        padding: 0px;
        position: fixed;
        left: 0px;
        right: 0px;
        border: none;
        background-color: rgba(76, 147, 175, 1);
        color: white;
        height: 50px;
        display: flex;
        top: 0px;
        opacity: 0.8;
        z-index: 10;
    }
    .actionbar-button {
        font-family: "Material Icons";
        padding-left: 16px;
        font-size: 22px;
        align-self: center;
    }
    .actionbar-label {
        align-self: center;
        padding-left: 16px;
    }
    .actionbar-label-title {
        font-size: 16px;
        font-weight: bold;
    }
    .actionbar-label-subtitle {
        font-size: 12px;
        overflow-x: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .alpha {
        left: auto;
        right: 10px;
    }
    .drawer {
        left: 0px;
        width: 70%;
        max-width:300px;
        position: fixed;
        top: 0px;
        bottom: 0px;
        background-color: white;
        display:none;
        z-index: 10000;
    }
    .drawer-open {
        display: block;
        outline: none;
        box-shadow: 20px 0px 60px 10px rgba(0,0,0,0.75);
    }
    .drawer:focus {
        display: block;
    }
    .menu-item {
        text-decoration: none;
        font-weight: bold;
    }
    .menu-item:hover {
        background: #dddd99;
    }
    .menu-item i, .menu-item svg {
        margin: 15px;
        float: left;
        font-size: 16px;
    }
    .menu-item div {
        padding: 15px;
    }
    .drawer-header {

    }
    .drawer-footer {
        position: absolute;
        bottom: 10px;
        left: 0px;
        right: 0px;
        width: auto;
        text-align: center;
        font-size: 10px;
    }
    .version {
        position: fixed;
        font-size: 10px;
    }
    .content {
        padding:0px;
    }
/*
    .shadow {
        box-shadow: 3px 3px 10px 3px rgba(0,0,0,.7)
    }
*/
    .buttons {
        text-align: center;
    }
    .table {
        font-size:14px;
    }
    .th {
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .td {
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .th.option {
        text-align: left;
        width: 40%;
    }
    .td.option input {
        width: 100%;
        border-style: solid;
        border-width: 1px;
        font-size:16px;
        height: 25px;
    }
    .user-buttons {
        display: flex;
        width: auto;
        max-width: 95%;
        position: absolute;
        top: 52px !important;
        left: 50%;
        right: auto;
        transform: translateX(-50%);
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .user-buttons-title {
        display: none;
    }
    .user-buttons-items {
        display: flex !important;
        flex-direction: row;
        width: 100%;
        justify-content: initial;
    }
    .user-button {
        display: block;
        text-align: center;
        border-radius: 5px;
        padding: 5px;
        cursor: pointer;
        font-size: 10px;
        min-width: 45px;
    }
    .user-button-badge {
        top: 0px;
        float: right;
        right: 0px;
    }

    .user-button-label {
        padding-left: 0px;
        padding-right: 0px;
    }
    .user-button-title {
        white-space: nowrap;
        min-width: 40px;
        padding: 0px;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .user-button-subtitle {
        font-size: 9px;
        max-width: 200px;
        display: none;
    }
    .user-context-menu {
        display: flex;
        width: auto;
        position: absolute;
        top: 112px !important;
        left: 50% !important;
        right: auto !important;
        transform: translateX(-50%);
        overflow-y: scroll;
        background: none;
    }
    .user-context-menu-section {
        display: flex;
        background: none;
    }
    .user-context-menu-item {
        display: flex;
        justify-content: center;
        align-content: center;
        border-radius: 5px;
        padding: 0px;
        margin: 1px;
        cursor: pointer;
        background-color: rgba(211, 211, 211, 0.7);
        width: 45px;
        height: 45px;
    }
    .user-context-menu-item-title {
        display: none;
    }
    .console {
        left: 0;
        font-size: 9px;
    }
    .dialog-title {

    }
    .dialog-items {

    }
    .dialog-item {

    }
    .dialog-buttons {
        text-align: center;
    }
    .dialog-title-button {
        min-width: inherit;
        padding: 2px;
    }
    .chat {
        border-left: none;
        border-right: none;
        border-bottom: none;
        left: 0px !important;
        bottom: 0px !important;
        top: auto !important;
        padding: 0px;
        max-width: 100%;
        width: 100%;
        transform: none;
    }
    .chat-messages {
        padding: 8px;
    }
    .chat-reply {
        padding: 8px;
        display: flex;
        align-items: stretch;
    }
    .chat-reply-button {
        min-width: 40px;
        height: 32px;
        padding: 0px;
    }
    .streetview {
        position: inherit;
        width: 100%;
        transform: none;
        height: 60%;
        z-index: 0;
        max-width: 100%;
        border-bottom: none;
    }
    .streetview-view {
        margin: -12px;
        padding: 10px;
    }

    /* media specific classes */
    .hideable {
        display: none;
    }

    /* shift zoom control */
    .gmnoprint:nth-child(8) {
        top: 100px !important;
    }

}
